---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import url(../fonts/source-code-pro/stylesheet.css);
@import url(../fonts/source-sans-pro/stylesheet.css);
@import "main";
