// =========== Layout

.l-full {
    @include breakpoint($breakpoint-30) { @include grid(48, 1); }
    width: 100%;
    float: none;
}

.l-two-third {

    @include breakpoint($breakpoint-30) { @include grid(32, 1); }
}

.l-half {

    @include breakpoint($breakpoint-30) { @include grid(24, 1); }
}

.l-one-quarter {
    @include breakpoint($breakpoint-30) { @include grid(12, 1); }
}

.l-one-eigth {
    @include breakpoint($breakpoint-30) { @include grid(6, 1); }
}

.l-one-sixth {
    @include breakpoint($breakpoint-30) { @include grid(8, 1); }
}

.l-one-third {

    @include breakpoint($breakpoint-30) { @include grid(16, 1);  }
}

.l-grid {
    @include grid-container;

    li { @include grid(16, 1); }
}

.l-first { clear: left; }


.l-container {
    margin: auto;
    max-width: $max-width;
    padding: $spacing ;
    @include grid-container;

    @include breakpoint($breakpoint-30) { padding: $spacing ($spacing * 5); }
}

.l-button-table {
    @include breakpoint($breakpoint-30) {
        display: flex;
        justify-content: center;        
    }
}

.l-button-table > .l-two-third {
    float: none;
    margin-left: 0;
    margin-right: 0;
} 

.l-flex {
	display:flex;
	flex-wrap: wrap;
}