<div class="l-container l-flex">
    <div class="l-one-third left">
        <a href="https://www.apache.org">Apache</a><br>
        <a href="https://www.apache.org/licenses/">License</a><br>
        <a href="https://events.apache.org/x/current-event">Events</a><br>
    </div>
    <div class="l-one-third">
        <a href="https://www.apache.org/foundation/sponsorship">Sponsorships</a><br>
        <a href="https://www.apache.org/foundation/thanks">Thanks</a><br>
    </div>
    <div class="l-one-third">
        <a href="https://www.apache.org/security">Security</a><br>
        <a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy</a><br>
    </div>
</div>
<div class="l-container">
    <div class="left">
        <img src="https://www.apache.org/img/asf_logo.png" style="height:90px; float:left; margin-right:10px;">
        <div style="margin-top:12px;">Copyright © 2026 — The Apache Software Foundation. Apache Wicket, Wicket, Apache, the Apache feather logo, and the Apache Wicket project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</div>
    </div>
</div>
