<div class="header jumbotron">
   	{% include mainmenu.html %}
    <div class="jumbotron-logo">
        <a href="{{site.baseurl}}/"><img src="{{ site.baseurl }}/img/logo-apachewicket-white.svg" alt="Apache Wicket"></a>
    </div>
    <div class="jumbotron-mission">Write maintainable, secure and scalable web applications using just Java and HTML</div>
    <div class="jumbotron-download">
        <a class="button" href="#news">Latest News</a>
        <a class="button" href="{{ site.baseurl }}/start/quickstart.html">Get started</a>
		<a class="button" target="_blank" href="{{ site.live_examples_url }}">Live Examples</a>
		<br>
		<small class="jumbotron-version">Current release: {{ site.wicket.version }}</small>
    </div>
    <div class="l-first">&nbsp;</div>
</div>
