---

## Wicket-Bootstrap project

[Wicket-Bootstrap](https://github.com/l0rdn1kk0n/wicket-bootstrap/) is a full-fledged project that provides integration between Wicket and the popular CSS and JS framework. The project site
offers a complete showcase of the available features.

---

## Wicket JQuery-UI integration

[Wicket JQuery-UI integration](https://github.com/sebfz1/wicket-jquery-ui) provides full integration between Wicket and JQuery UI with many great-looking widgets ready to be used in your application.

