.logo {
    text-align:center;

    @include breakpoint($breakpoint-20) {
        display:inline-block;
        float:left;
        margin:0;
        @include prepend(1);
		margin-left: 0;
    }
    img {
        display:inline-block;
        width: 200px;
    }
}
