nav.mainmenu {
    display:block;
    margin:0 auto 2rem auto;
    text-align:center;
    ul {
        list-style:none;
    }
    li {
        display:inline-block;
        font-size:18px;
        text-transform: uppercase;
        font-weight:bold;
        &.active { border-bottom: 2px solid white;}
    }
    li+li {
        margin-left:1*$grid-column;
    }

    a, a:active {
        border:none;
        color:orange;
        font-weight:400;
        text-decoration: none;
    }
    
    a:hover {
        color: #303284;
    }    
    
    @media screen and (orientation: portrait) {
    	padding-bottom:50px;
    }
}
