.toc {
    ul { list-style: none; }
    &>ul {
        margin-left: 0;
    }
    &>ul > li+li {
        margin-top: 1rem;
    }
    
    @include breakpoint($breakpoint-10) {
	   display: none;
    }
}

.toc.post.index {
    display: none;
}