<!DOCTYPE html>
<html>
<head>
    <title>Apache Wicket - {{page.title}}</title>

	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />

    <!--[if lt ie 7]>
	<link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
<div id="container">
    <div id="content">
        {% include header.html %}
		{% include navigation.html %}
		<div id="contentbody">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
        <div id="clearer"></div>
		{% include footer.html %}
    </div>
</div>
</body>
</html>
